// ---------- Main content body ----------

.portal-iframe #main-content {
	width: 100%;
}

// ---------- Separator ----------

.separator {
	border-top: 1px solid #cdced9;
}

// ---------- Status ----------

.entry-status {
	border-left: 4px solid transparent;
}

span.alert {
	display: inline-block;
}
