$lowerHeaderBackground: #FFF;
$lowerHeaderBackgroundBlend: #FFF;
$lowerHeaderTextColor: #777;
$lowerHeaderFlexDirection: row;
$upperHeaderBackground: #1264AB;
$upperHeaderBackgroundBlend: #558682;
$upperHeaderTextColor: #FFF;
$siteLogoHeight: 56px;
$siteLogoWidth: auto;
$footerBackground: #1264AB;
$footerBackgroundBlend: #558682;
$footerTextColor: #FFF;