// Header

$lowerHeaderBackground: #FFF;
$lowerHeaderBackgroundBlend: #FFF;
$lowerHeaderFlexDirection: row;
$lowerHeaderTextColor: #777;
$siteLogoHeight: 56px;
$siteLogoWidth: auto;
$upperHeaderBackground: #1264AB;
$upperHeaderBackgroundBlend: #6e094e;
$upperHeaderTextColor: #FFF;

// Footer

$footerBackground: #1264AB;
$footerBackgroundBlend: #6e094e;
$footerTextColor: #FFF;

// Links

$linkColor: #1264AB;
$linkHoverColor: #1264AB;